* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url(../linktree/img/barber-background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    position: relative;
    /* padding-top: 20px; */
}

.navbar {
   
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding:  20px;
    position: sticky;
    flex-direction: row;
    background-color:  var(--shadow);
    justify-content: space-around;
    top: 0;
}

.nav-links {
    padding-top: 30px ;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

/*.nav-links li {
    margin-right: 20px;
}*/

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
    padding: 5px 15px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    /* background-color: var(--yellow);
    border-radius: 5px; */
    color: var(--yellow);
    border-bottom: solid 2px var(--yellow);
    transition:  0.3s ease;
}

.logo img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 4px  var(--white);
}

.navbox {
    background-color: var(--shadow);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    height: 100%;
    min-height: 400px;
}

.header-title,
header .logo {
    margin: 50px 25px;
}

.header-title {
    font-size: 24px;
    max-width: 400px;
}

.header-title h1 {
    font-size: 36px;
}

.container {
    margin: auto;
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
}